---
layout: layout.njk
pagination: 
    data: meta
    size: 1
renderData:
    title: "{{ meta.seo.meta_title }}"
---
<dershop-image h="half" fit="cover" src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=50"></dershop-image>
<dershop-spotlight></dershop-spotlight>