:host {
  &(.collapse-collapse) {
    border-collapse: collapse;
  }

  &(.collapse-separate) {
    border-collapse: separate;
  }

  &(.bColor-transparent) {
    border-color: transparent;
  }

  &(.bColor-black) {
    border-color: #000;
  }

  &(.bColor-white) {
    border-color: #fff;
  }

  &(.bColor-gray-100) {
    border-color: #f7fafc;
  }

  &(.bColor-gray-200) {
    border-color: #edf2f7;
  }

  &(.bColor-gray-300) {
    border-color: #e2e8f0;
  }

  &(.bColor-gray-400) {
    border-color: #cbd5e0;
  }

  &(.bColor-gray-500) {
    border-color: #a0aec0;
  }

  &(.bColor-gray-600) {
    border-color: #718096;
  }

  &(.bColor-gray-700) {
    border-color: #4a5568;
  }

  &(.bColor-gray-800) {
    border-color: #2d3748;
  }

  &(.bColor-gray-900) {
    border-color: #1a202c;
  }

  &(.bColor-red-100) {
    border-color: #fff5f5;
  }

  &(.bColor-red-200) {
    border-color: #fed7d7;
  }

  &(.bColor-red-300) {
    border-color: #feb2b2;
  }

  &(.bColor-red-400) {
    border-color: #fc8181;
  }

  &(.bColor-red-500) {
    border-color: #f56565;
  }

  &(.bColor-red-600) {
    border-color: #e53e3e;
  }

  &(.bColor-red-700) {
    border-color: #c53030;
  }

  &(.bColor-red-800) {
    border-color: #9b2c2c;
  }

  &(.bColor-red-900) {
    border-color: #742a2a;
  }

  &(.bColor-orange-100) {
    border-color: #fffaf0;
  }

  &(.bColor-orange-200) {
    border-color: #feebc8;
  }

  &(.bColor-orange-300) {
    border-color: #fbd38d;
  }

  &(.bColor-orange-400) {
    border-color: #f6ad55;
  }

  &(.bColor-orange-500) {
    border-color: #ed8936;
  }

  &(.bColor-orange-600) {
    border-color: #dd6b20;
  }

  &(.bColor-orange-700) {
    border-color: #c05621;
  }

  &(.bColor-orange-800) {
    border-color: #9c4221;
  }

  &(.bColor-orange-900) {
    border-color: #7b341e;
  }

  &(.bColor-yellow-100) {
    border-color: #fffff0;
  }

  &(.bColor-yellow-200) {
    border-color: #fefcbf;
  }

  &(.bColor-yellow-300) {
    border-color: #faf089;
  }

  &(.bColor-yellow-400) {
    border-color: #f6e05e;
  }

  &(.bColor-yellow-500) {
    border-color: #ecc94b;
  }

  &(.bColor-yellow-600) {
    border-color: #d69e2e;
  }

  &(.bColor-yellow-700) {
    border-color: #b7791f;
  }

  &(.bColor-yellow-800) {
    border-color: #975a16;
  }

  &(.bColor-yellow-900) {
    border-color: #744210;
  }

  &(.bColor-green-100) {
    border-color: #f0fff4;
  }

  &(.bColor-green-200) {
    border-color: #c6f6d5;
  }

  &(.bColor-green-300) {
    border-color: #9ae6b4;
  }

  &(.bColor-green-400) {
    border-color: #68d391;
  }

  &(.bColor-green-500) {
    border-color: #48bb78;
  }

  &(.bColor-green-600) {
    border-color: #38a169;
  }

  &(.bColor-green-700) {
    border-color: #2f855a;
  }

  &(.bColor-green-800) {
    border-color: #276749;
  }

  &(.bColor-green-900) {
    border-color: #22543d;
  }

  &(.bColor-teal-100) {
    border-color: #e6fffa;
  }

  &(.bColor-teal-200) {
    border-color: #b2f5ea;
  }

  &(.bColor-teal-300) {
    border-color: #81e6d9;
  }

  &(.bColor-teal-400) {
    border-color: #4fd1c5;
  }

  &(.bColor-teal-500) {
    border-color: #38b2ac;
  }

  &(.bColor-teal-600) {
    border-color: #319795;
  }

  &(.bColor-teal-700) {
    border-color: #2c7a7b;
  }

  &(.bColor-teal-800) {
    border-color: #285e61;
  }

  &(.bColor-teal-900) {
    border-color: #234e52;
  }

  &(.bColor-blue-100) {
    border-color: #ebf8ff;
  }

  &(.bColor-blue-200) {
    border-color: #bee3f8;
  }

  &(.bColor-blue-300) {
    border-color: #90cdf4;
  }

  &(.bColor-blue-400) {
    border-color: #63b3ed;
  }

  &(.bColor-blue-500) {
    border-color: #4299e1;
  }

  &(.bColor-blue-600) {
    border-color: #3182ce;
  }

  &(.bColor-blue-700) {
    border-color: #2b6cb0;
  }

  &(.bColor-blue-800) {
    border-color: #2c5282;
  }

  &(.bColor-blue-900) {
    border-color: #2a4365;
  }

  &(.bColor-indigo-100) {
    border-color: #ebf4ff;
  }

  &(.bColor-indigo-200) {
    border-color: #c3dafe;
  }

  &(.bColor-indigo-300) {
    border-color: #a3bffa;
  }

  &(.bColor-indigo-400) {
    border-color: #7f9cf5;
  }

  &(.bColor-indigo-500) {
    border-color: #667eea;
  }

  &(.bColor-indigo-600) {
    border-color: #5a67d8;
  }

  &(.bColor-indigo-700) {
    border-color: #4c51bf;
  }

  &(.bColor-indigo-800) {
    border-color: #434190;
  }

  &(.bColor-indigo-900) {
    border-color: #3c366b;
  }

  &(.bColor-purple-100) {
    border-color: #faf5ff;
  }

  &(.bColor-purple-200) {
    border-color: #e9d8fd;
  }

  &(.bColor-purple-300) {
    border-color: #d6bcfa;
  }

  &(.bColor-purple-400) {
    border-color: #b794f4;
  }

  &(.bColor-purple-500) {
    border-color: #9f7aea;
  }

  &(.bColor-purple-600) {
    border-color: #805ad5;
  }

  &(.bColor-purple-700) {
    border-color: #6b46c1;
  }

  &(.bColor-purple-800) {
    border-color: #553c9a;
  }

  &(.bColor-purple-900) {
    border-color: #44337a;
  }

  &(.bColor-pink-100) {
    border-color: #fff5f7;
  }

  &(.bColor-pink-200) {
    border-color: #fed7e2;
  }

  &(.bColor-pink-300) {
    border-color: #fbb6ce;
  }

  &(.bColor-pink-400) {
    border-color: #f687b3;
  }

  &(.bColor-pink-500) {
    border-color: #ed64a6;
  }

  &(.bColor-pink-600) {
    border-color: #d53f8c;
  }

  &(.bColor-pink-700) {
    border-color: #b83280;
  }

  &(.bColor-pink-800) {
    border-color: #97266d;
  }

  &(.bColor-pink-900) {
    border-color: #702459;
  }
  &(.rounded-none) {
    border-radius: 0;
  }

  &(.rounded-sm) {
    border-radius: 0.125rem;
  }

  &(.rounded) {
    border-radius: 0.25rem;
  }

  &(.rounded-md) {
    border-radius: 0.375rem;
  }

  &(.rounded-lg) {
    border-radius: 0.5rem;
  }

  &(.rounded-full) {
    border-radius: 9999px;
  }

  &(.roundedTop-none) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &(.roundedRight-none) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &(.roundedBottom-none) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &(.roundedLeft-none) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &(.roundedTop-sm) {
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
  }

  &(.roundedRight-sm) {
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
  }

  &(.roundedBottom-sm) {
    border-bottom-right-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
  }

  &(.roundedLeft-sm) {
    border-top-left-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
  }

  &(.roundedTop) {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &(.roundedRight) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  &(.roundedBottom) {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  &(.roundedLeft) {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  &(.roundedTop-md) {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
  }

  &(.roundedRight-md) {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }

  &(.roundedBottom-md) {
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }

  &(.roundedLeft-md) {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }

  &(.roundedTop-lg) {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &(.roundedRight-lg) {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &(.roundedBottom-lg) {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &(.roundedLeft-lg) {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &(.roundedTop-full) {
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
  }

  &(.roundedRight-full) {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }

  &(.roundedBottom-full) {
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }

  &(.roundedLeft-full) {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }

  &(.roundedTopLeft-none) {
    border-top-left-radius: 0;
  }

  &(.roundedTopRight-none) {
    border-top-right-radius: 0;
  }

  &(.roundedBottomRight-none) {
    border-bottom-right-radius: 0;
  }

  &(.roundedBottomLeft-none) {
    border-bottom-left-radius: 0;
  }

  &(.roundedTopLeft-sm) {
    border-top-left-radius: 0.125rem;
  }

  &(.roundedTopRight-sm) {
    border-top-right-radius: 0.125rem;
  }

  &(.roundedBottomRight-sm) {
    border-bottom-right-radius: 0.125rem;
  }

  &(.roundedBottomLeft-sm) {
    border-bottom-left-radius: 0.125rem;
  }

  &(.roundedTopLeft) {
    border-top-left-radius: 0.25rem;
  }

  &(.roundedTopRight) {
    border-top-right-radius: 0.25rem;
  }

  &(.roundedBottomRight) {
    border-bottom-right-radius: 0.25rem;
  }

  &(.roundedBottomLeft) {
    border-bottom-left-radius: 0.25rem;
  }

  &(.roundedTopLeft-md) {
    border-top-left-radius: 0.375rem;
  }

  &(.roundedTopRight-md) {
    border-top-right-radius: 0.375rem;
  }

  &(.roundedBottomRight-md) {
    border-bottom-right-radius: 0.375rem;
  }

  &(.roundedBottomLeft-md) {
    border-bottom-left-radius: 0.375rem;
  }

  &(.roundedTopLeft-lg) {
    border-top-left-radius: 0.5rem;
  }

  &(.roundedTopRight-lg) {
    border-top-right-radius: 0.5rem;
  }

  &(.roundedBottomRight-lg) {
    border-bottom-right-radius: 0.5rem;
  }

  &(.roundedBottomLeft-lg) {
    border-bottom-left-radius: 0.5rem;
  }

  &(.roundedTopLeft-full) {
    border-top-left-radius: 9999px;
  }

  &(.roundedTopRight-full) {
    border-top-right-radius: 9999px;
  }

  &(.roundedBottomRight-full) {
    border-bottom-right-radius: 9999px;
  }

  &(.roundedBottomLeft-full) {
    border-bottom-left-radius: 9999px;
  }

  &(.bStyle-solid) {
    border-style: solid;
  }

  &(.bStyle-dashed) {
    border-style: dashed;
  }

  &(.bStyle-dotted) {
    border-style: dotted;
  }

  &(.bStyle-double) {
    border-style: double;
  }

  &(.bStyle-none) {
    border-style: none;
  }

  &(.bWidth-0) {
    border-width: 0;
  }

  &(.bWidth-2) {
    border-width: 2px;
  }

  &(.bWidth-4) {
    border-width: 4px;
  }

  &(.bWidth-8) {
    border-width: 8px;
  }

  &(.bWidth-1) {
    border-width: 1px;
  }

  &(.bWidthTop-0) {
    border-top-width: 0;
  }

  &(.bWidthRight-0) {
    border-right-width: 0;
  }

  &(.bWidthBottom-0) {
    border-bottom-width: 0;
  }

  &(.bWidthLeft-0) {
    border-left-width: 0;
  }

  &(.bWidthTop-2) {
    border-top-width: 2px;
  }

  &(.bWidthRight-2) {
    border-right-width: 2px;
  }

  &(.bWidthBottom-2) {
    border-bottom-width: 2px;
  }

  &(.bWidthLeft-2) {
    border-left-width: 2px;
  }

  &(.bWidthTop-4) {
    border-top-width: 4px;
  }

  &(.bWidthRight-4) {
    border-right-width: 4px;
  }

  &(.bWidthBottom-4) {
    border-bottom-width: 4px;
  }

  &(.bWidthLeft-4) {
    border-left-width: 4px;
  }

  &(.bWidthTop-8) {
    border-top-width: 8px;
  }

  &(.bWidthRight-8) {
    border-right-width: 8px;
  }

  &(.bWidthBottom-8) {
    border-bottom-width: 8px;
  }

  &(.bWidthLeft-8) {
    border-left-width: 8px;
  }

  &(.bWidthTop-1) {
    border-top-width: 1px;
  }

  &(.bWidthRight-1) {
    border-right-width: 1px;
  }

  &(.bWidthBottom-1) {
    border-bottom-width: 1px;
  }

  &(.bWidthLeft-1) {
    border-left-width: 1px;
  }
}
