@define-mixin showHide $breakpoint {
  &(.hide-$(breakpoint)) {
    display: none;
  }
  &(.show$(breakpoint)-flex) {
    display: flex;
  }
  &(.show$(breakpoint)-block) {
    display: block;
  }
}

:host {
  &(.hidden) {
    display: none;
  }

  @media (min-width: 640px) {
    @mixin showHide Sm;
  }

  @media (min-width: 768px) {
    @mixin showHide Md;
  }

  @media (min-width: 1024px) {
    @mixin showHide Lg;
  }

  @media (min-width: 1280px) {
    @mixin showHide Xl;
  }
}
