@define-mixin bootstrapHeight $breakpoint {
  :host(.h$(breakpoint)-0) {
    height: 0;
  }

  :host(.h$(breakpoint)-1) {
    height: 0.25rem;
  }

  :host(.h$(breakpoint)-2) {
    height: 0.5rem;
  }

  :host(.h$(breakpoint)-3) {
    height: 0.75rem;
  }

  :host(.h$(breakpoint)-4) {
    height: 1rem;
  }

  :host(.h$(breakpoint)-5) {
    height: 1.25rem;
  }

  :host(.h$(breakpoint)-6) {
    height: 1.5rem;
  }

  :host(.h$(breakpoint)-8) {
    height: 2rem;
  }

  :host(.h$(breakpoint)-10) {
    height: 2.5rem;
  }

  :host(.h$(breakpoint)-12) {
    height: 3rem;
  }

  :host(.h$(breakpoint)-16) {
    height: 4rem;
  }

  :host(.h$(breakpoint)-20) {
    height: 5rem;
  }

  :host(.h$(breakpoint)-24) {
    height: 6rem;
  }

  :host(.h$(breakpoint)-32) {
    height: 8rem;
  }

  :host(.h$(breakpoint)-40) {
    height: 10rem;
  }

  :host(.h$(breakpoint)-48) {
    height: 12rem;
  }

  :host(.h$(breakpoint)-56) {
    height: 14rem;
  }

  :host(.h$(breakpoint)-64) {
    height: 16rem;
  }

  :host(.h$(breakpoint)-auto) {
    height: auto;
  }

  :host(.h$(breakpoint)-px) {
    height: 1px;
  }

  :host(.h$(breakpoint)-full) {
    height: 100%;
  }
  :host(.h$(breakpoint)-quarter) {
    height: 25vh;
  }

  :host(.h$(breakpoint)-half) {
    height: 50vh;
  }

  :host(.h$(breakpoint)-screen) {
    height: 100vh;
  }

  :host(.h$(breakpoint)-detail) {
    height: 35rem;
  }

  :host(.h-product-box-image) {
    height: 320px;
  }

  :host(.h-productListItem) {
    height: 400px;
  }
}

@mixin bootstrapHeight;
